{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li>Black list</li>
    <li class="active">Description</li>
{% endblock %}

{% block content %}

    <a href="{{ path('app_view_blacklist_description_create') }}" class="btn btn-primary">New</a>
    <br>
    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>text</th>
        </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td>{{ l.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
