{% extends '@App/Layout/layout.html.twig' %}

{% block content %}

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>city</th>
            <th>links</th>
        </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td>{{ l.id }}</td>
                <td>{{ l.name }}</td>
                <td>{{ l.city }}</td>
                <td>{{ 'l.links' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
