<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext" rel="stylesheet">

    <title>Control :: socrent</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
{% block js %}{% endblock %}
</html>
