{% extends '@App/Layout/layout.html.twig' %}

{% block breadcrumbs %}
    <li class="active">User</li>
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>username</th>
        </tr>
        </thead>
        <tbody>
        {% for l in list %}
            <tr>
                <td>{{ l.id }}</td>
                <td>{{ l.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
